.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  width:100%;
  height: 100%;
  overflow: hidden;
}


.App-body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  flex-grow: 1;
  overflow-y: scroll;
  align-self: stretch;
  flex-wrap: wrap;
}

.App-loader {
  align-self: stretch;
  height: 200px;
  width:100%;
}

.App-loader__icon {
  height: 200px;
  width: 200px;
  animation: App-logo-loader infinite 0.8s ease-in-out;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-loader {
  0%{
    transform: rotate(0deg) scale(0.6);

  }
  50%{
    transform: rotate(180deg) scale(1);
  }
  100%{
    transform: rotate(360deg) scale(0.6);
  }
}
