.App-highlight {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 460px;
  height: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  display: none;
  background-color: #FFF;
  box-shadow: 1px 1px 10px 0px rgba(100,100,100, 0.4);
}

.App-highlight--visible {
  display: flex;
  animation: appear-in 0.2s ease-in;
}

.App-highlight__close {
  position: absolute;
  top:20px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(50,50,50, 0.4);
  color: #FFF;
  padding: 10px;
}

.App-highlight__banner {
  flex: 2;
  max-height: 260px;
  background-position: center;
  background-size: cover;
}

.App-highlight__name {
  flex: 1;
  flex-grow:1;
  align-items: center;
  justify-content: center;
  display: flex;
}

@keyframes appear-in {
  from{
    transform: translate(-50%, 100%);
  }

  to{
    transform: translateY(-50%, -50%);
  }
}