.App-character {
  display: flex;
  width: 150px;
  height: 150px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  box-shadow: 0px 1px 5px 0px rgba(100, 100, 100, 0.4);
}

.App-character__name {
  background-color: #EEE;
  align-self: stretch;
  margin: 0;
  padding: 10px;
}